/*header*/
.header{
	height: 110px;
	background-color:#13252B;
	color:white;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.header .col-md-4 {
	height: 100px;
}

.header .col-md-4 .left{
	padding-top: 10px;
}

.header .col-md-4 .left h3{
	font-weight: bold;
	font-size: 40px;
}

.header .col-md-4 .left h3:hover{
	font-weight: bold;
	font-size:45px;
}

.header .col-md-4 .left button{
	background-color: #13252B;
	border:none;
}

h3 a{
	text-decoration: none;
	color: white;
}

h3 a:hover{
	color: white;
}

.header .col-md-4 .left h5:hover{
	font-weight:bold;
}

.header .col-md-4 .center{
	padding-top: 60px;
	text-align: center;
}

.header .col-md-4 .right{
	padding-top: 60px;
	margin-left: -60px;
}

.header .col-md-4 li{
	margin-left:10px;
	margin-right:10px;
	font-size: 16px;
	display: inline-block;
}

.header .col-md-4 li button{
	background-color:white;
	color:#13252B;
	border: none;
	border-radius: 5px;
}

.header .col-md-4 li button:hover{
	background-color:#13252B;
	color:white;
	border:none;
	border-radius: 5px;
}

.header .col-md-4 li a{
	text-decoration: none;
	color: #13252B;
}

.header .col-md-4 li a:hover{
	color: white;
	text-decoration: none;
}

/*Middle*/

.middle{
	font-family: Tahoma;
	background-color: #e6ebe7;
	color: black;
	padding: 140px 40px 40px 40px;
	height: 700px;
}

.middle .title{
	text-align: center;
	background-color: white;
	border-radius: 10px 10px 0px 0px;
	height: 100px;
	padding-top: 20px;
}

.middle .body{
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	height: 400px;
	padding: 0px 20px 0px 20px;
}

/*Footer*/
.footer{
	height:80px;
	color: white;
	background-color: #13252B;
	font-family: Tahoma;
	padding-top: 50px;
	position:relative;
	clear:both;
}