.navbar {
	height: 100px;
	padding-top: 40px;
	padding-right: 20px;
	background-color: #13252B;
}


.navbar-brand{
	font-size: 50px;
}

.navbar-right{
	padding-top: 10px;
}

.searchbar{
	position: relative;
	padding-left: 100px;
}