<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="RotationsRx_attending_template.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<title>RotationsRx_attending_template</title>
</head>
<body>
	<div class="header">
		<div class="col-md-4">
			<div class="left">
				<h5><button onclick="goBack()">Back</button></h5>
				<h3><a href="RotationsRx_page1.html"><button>RotationsRx</button></a></h3>
			</div>
		</div>

		<div class="col-md-4">
			<div class="center">
				<h5>Search Bar Here</h5>
			</div>
		</div>

		<div class="col-md-4">
			<div class="right">
				<ul>
					<li><a href="RotationsRx_attending_template.html"><button>Attendings</button></a></li>
					<li><a href="RotationsRx_rotation_template.html"><button>Rotations</button></a></li>
					<li><a href="RotationsRx_About.html"><button>About Us</button></a></li>
					<li><a href="RotationsRx_ContactUs.html"><button>Contact Us</button></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="title">
		<h1> Attending Name Here * * * *</h1>
		<div class="rotation_name">
			<h3>Rotation Name Here</h3>
		</div>
	</div>

	<div class="middle-top">
		<div class="mt_left">
			<div class="attending">
				<h3 style="color:black">Attendings</h3>
			</div>

		</div>
		<div class="mt_right">
			<div class="intensity">
				<h3 style="color:black">Attending Intensity</h3>
			</div>
		</div>

	</div>

	<div class="button_area">

		<div class ="left_button">
			<button> + Add Attending </button>
		</div>
		<div class="right_button">
			<button>+ Add Intensity</button>
		</div>


	</div>

	<div class="middle-bottom">
		<div class="comments">
			<h2 style="color:black"> Comments </h2>
		</div>
		<div class= "box">
			<div class="comment_box">
			</div>
			<div class="comment_box">
			</div>
		</div>
	</div>

	<div class="bottom_button">
		<button>+ Add Comment</button>
	</div>


	<div class="footer">
		<p>RotationsRx</p>
	</div>

</body>
</html>