<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/RotationsRx_list_template.css" />
	<title>RotationsRx_list_template</title>
</head>
<body>

	<% include ../partials/nav.ejs %>


	<div class="middle">
			<div class="top">
				<h2>Rotations</h2>
			</div>
			<div class="bottom">
				<ul>
					<li><button> Rotation 1</button></li>
					<li><button> Rotation 2</button></li>
					<li><button> Rotation 3</button></li>
					<li><button> Rotation 4</button></li>
					<li><button> Rotation 5</button></li>
					<li><button> Rotation 6</button></li>
					<li><button> Rotation 7</button></li>
					<li><button> Rotation 8</button></li>
					<li><button> Rotation 9</button></li>
					<li><button> Rotation 10</button></li>
				</ul>
			</div>

	</div>	

	<div class="footer">
		<p>RotationsRx</p>
	</div>
</body>
</html>