<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/RotationsRx_page1.css" />
	<title>RotationsRx_page1</title>
</head>

<body>

  <% include ../partials/nav.ejs %>

	<div class="middle">
		<div class="col-md-4">
			<a href="RotationsRx_attending_template.html">
			<img src="../img/doctor2.png">
			</a>
			<h4>Attendings</h4>
		</div>
		<div class="col-md-4">
			<a href="/rotations">
			<img src="../img/hospital11.png"/>
			</a>
			<h4>Rotations</h4>
		</div>
		<div class="col-md-4">
			<a href="RotationsRx_list_template.html">
			<img src="../img/purchase1.png"/>
			</a>
			<h4>List</h4>
		</div>
	</div>

	<div class="footer">
		<p>RotationsRx</p>
	</div>

</body>
</html>
