<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="RotationsRx_About.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<title>RotationsRx_About</title>
</head>
<body>
	<div class="header">
		<div class="col-md-4">
			<div class="left">
				<h5><button onclick="goBack()">Back</button></h5>
				<h3><a href="RotationsRx_page1.html"><button>RotationsRx</button></a></h3>
			</div>
		</div>

		<div class="col-md-4">
			<div class="center">
				<h5>Search Bar Here</h5>
			</div>
		</div>

		<div class="col-md-4">
			<div class="right">
				<ul>
					<li><a href="RotationsRx_attending_template.html"><button>Attendings</button></a></li>
					<li><a href="RotationsRx_rotation_template.html"><button>Rotations</button></a></li>
					<li><a href="RotationsRx_About.html"><button>About Us</button></a></li>
					<li><a href="RotationsRx_ContactUs.html"><button>Contact Us</button></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="title">
			<h1>Our Story</h1>
		</div>
		<div class="body">
			<p>Give a little story about what we did and why here</p>
		</div>
	</div>

	<div class="footer">
		<p>RotationsRx</p>
	</div>

</body>
</html>